{% extends "base.html" %}


{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Titillium+Web');

    body {
        font-family: 'Titillium Web', sans-serif;
        width: 100%;
        backgroud-position: bottom !important;
        backgroud-repeat: no-repeat;
        backgroud-size: cover;
        background-position: bottom;
        background-color: #fff;
    }

</style>
    {% block login_style %}
    {% endblock %}
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block javascript %}

{% endblock %}

