<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Magic Movie</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style-nav.css">

<body>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/logo.png" alt="" width="80" height="80" class="d-inline-block align-text-top">
      Magic Movie
    </a>
  </div>

    <ul>
        <li>
            <a href="#">
                <i class="bx bx-home"></i>
                <span class="nav-item">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-log-in"></i>
                <span class="nav-item">Login</span>
            </a>
            <span class="tooltip">Login</span>

        </li>
        <li>
            <a href="#">
                <i class="bx bx-purchase-tag"></i>
                <span class="nav-item">Promotions</span>
            </a>
            <span class="tooltip">Promotions</span>

        </li>
        <li>
            <a href="#">
                <i class="bx bx-film"></i>
                <span class="nav-item">Movie</span>
            </a>
            <span class="tooltip">Movie</span>

        </li>
        <li>
            <a href="#">
                <i class="bx bxs-gift"></i>
                <span class="nav-item">Gift Card</span>
            </a>
            <span class="tooltip">Gift Card</span>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-help-circle"></i>
                <span class="nav-item">Contact us</span>
            </a>
            <span class="tooltip">Contact us</span>

        </li>
    </ul>
</nav>
<!--    <div class="user">-->
<!--        <img src="/static/logo.png" alt="LOGO" style="width:120px;height:120px;">-->
<!--        <div>-->
<!--            <p class="bold">Clint B.</p>-->
<!--            <p>Admin</p>-->
<!--        </div>-->
<!--    </div>-->

</body>

</html>