<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/" class="navbar-brand">
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo" alt="logo"/>
    </a>
    <div class="collapse d-flex flex-column navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex flex-column flex-fill mt-3 mb-3">
            <li class="nav-item">
                <a class="nav-link {% if req.url_rule.rule == "/home/" %}active{% endif %}" aria-current="page" href="{{ url_for('home.index') }}"><i class="fa-regular fa-house"></i><span>Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if req.url_rule.rule == '/promotions/' %}active{% endif %}" href="{{ url_for('promotions.index') }}"><i class="fa-regular fa-tags"></i><span>Promotions</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if req.url_rule.rule == '/movies/' %}active{% endif %}" href="{{ url_for('movies.index') }}"><i class="fa-regular fa-camera-movie"></i><span>Movies</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if req.url_rule.rule == '/gifts/' %}active{% endif %}" href="{{ url_for('gifts.index') }}"><i class="fa-regular fa-gift-card"></i><span>Gift Card</span></a>
            </li>
            <div class="flex-fill"></div>
            <li class="nav-item">
                <a class="nav-link {% if req.url_rule.rule == '/contractUs/' %}active{% endif %}" href="{{ url_for('contractUs.index') }}"><i class="fa-regular fa-square-question"></i><span>Contact us</span></a>
            </li>
        </ul>
    </div>
</nav>

