{% extends "base.html" %}


{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Titillium+Web');

    body {
        font-family: 'Titillium Web', sans-serif;
        background-image: url("https://images.pexels.com/photos/921288/pexels-photo-921288.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        width: 100%;
        backgroud-position: bottom !important;
        backgroud-repeat: no-repeat;
        backgroud-size: cover;
        background-position: bottom;
    }

    /*.pt-4 {*/
    /*    margin-top: 4rem !important;*/
    /*}*/

    .bg-white {
        backgroud-color: #fff;
    }

    /*button.btn-primary {*/
    /*    background-color: #FFCC00 !important;*/
    /*    border: none;*/
    /*}*/

    .color-bk {
        color: #333;
    }
</style>
{% block login_style %}
{% endblock %}
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block javascript %}

{% endblock %}"

