{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body{
  font-family: 'Titillium Web', sans-serif;
  background-image: url("https://images.pexels.com/photos/921288/pexels-photo-921288.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  width: 100%;
  backgroud-position: bottom !important;
  backgroud-repeat: no-repeat;
  backgroud-size: cover;
background-position: bottom;
}

.pt-4 {
  margin-top: 4rem !important;
}
.bg-white{
  backgroud-color: #fff;
}
button.btn-primary {
  background-color: #FFCC00 !important;
  border: none;
}

.color-bk{
  color: #333;
}
</style>
{% endblock %}

{% block content %}

<div class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h1>Sign In</h1>
                        <p class="text-muted">Sign In to your account</p>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-solid fa-user"></i>
                </span>
                            </div>
                            <input class="form-control" type="text" placeholder="Username">
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-key"></i>
                </span>
                            </div>
                            <input class="form-control" type="password" placeholder="Password">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary px-4" type="button">Login</button>
                            </div>
                            <div class="col-6 text-right">
                                <button class="btn btn-link px-0" type="button">Forgot password?
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-white d-md-down-none" style="width:44%">
                    <div class="card-body text-center">
                        <div class="color-bk">
                            <h2>Sign up</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <button class="btn btn-primary active mt-3" type="button">Register Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}

{% endblock %}"

