{% extends "base.html" %}

{% block style %}
<style>
.date>*{
    border-radius: 6px;
    cursor: pointer;
}

.date>*:hover{
    opacity: .9;
}
</style>
{% endblock %}


{% block content %}
<div class="container-fluid h-100 overflow-y-scroll d-flex gap-4 flex-column pb-5">
    {% include 'base/sub-navbar.html' %}
    <div class="d-flex flex-row align-center justify-content-between p-1">
        <h2>Now Showing</h2>
        <div></div>
    </div>
    <div class="d-flex bg-black text-white flex-column gap-5 flex-wrap p-4">
        {% for i in movies %}
            <div class="now-showing-item row">
                <div class="col-12 col-md-2">
                    <img style="border-radius: 6px;width: 100%" src="{{ i.poster_path }}"/>
                </div>
                <div class="d-flex gap-1 flex-column col-12 col-md-4">
                    <h4>Wonka</h4>
                    <p class="text-secondary" style="font-size: 14px">{{ i.overview }}</p>
                    <div class="row mt-3 text-secondary">
                        <div class="col-4">Genre:</div>
                        <div class="col-8">{{ ','.join(i.movie_types) }}</div>
                    </div>
                    <div class="row text-secondary">
                        <div class="col-4">Run Time:</div>
                        <div class="col-8">{{ i.duration_min }}</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h4>{{ datetime.now() }}</h4>
                    <div class="row ps-1 pe-1 mt-1 date">
                        {% for j in i.now_screenings %}
                            <div class="col-3 p-0">
                                <div class="m-1 pt-1 bg-dark d-flex align-items-center justify-content-center pb-1">
                                    <div class="text-white text-decoration-none text-center">{{ j.start_date_time.strftime('%H:%M') }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row col-12 d-flex flex-row align-center justify-content-between p-1">
        <h2>Coming Soon</h2>
        <div></div>
    </div>

    <div class="d-flex bg-black text-white row ms-1 me-1 p-4">
        {% for i in soon %}
            <div class="col-12 mt-2 col-sm-6 col-md-3 d-flex gap-1 flex-column align-center" >
                <div>
                    <img style="border-radius: 6px;width: 100%" src="{{ i.poster_path }}">
                </div>
                <span class="text-warning text-center mt-1">{{ i.title }}</span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}